<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="container-flex">
    <section class="vh-100 gradient-custom">
        <div class="container-fluid ">
            <div class="row g-5 ">
                <div class="col-2">

                </div>
                <div class="col-4">
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Todos</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Virgen</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Puebla</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Santa</label>
                    </div>
                </div>
                <div class="col-4">
                    <form class="d-flex">
                        <input class="form-control me-2 gradient-buscar" id="buscar" name="buscar" [(ngModel)]="buscar">
                        <button class="button-78" role="button" (click)="buscarProducto(buscar)">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-rigth ">
            <div class="alert alert-success d-flex align-items-center col-6" role="alert" *ngIf="estatus=='exito'">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{mensaje}}
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="estatus=='error'">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{mensaje}}
                </div>
            </div>
        </div>
        <hr>
        <div class="container-auto ">
            <div class="col-6"></div>
            <i class="fa fa-plus-circle  fa-2x mb-3 col-6" aria-hidden="true" data-bs-toggle="modal"
                data-bs-target="#modalAgregarProducto">Agregar Producto</i>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Medidas</th>
                        <th scope="col">Tipos</th>
                        <th scope="col" *ngIf="fabricafiltro==1">Precio</th>
                        <th scope="col" *ngIf="fabricafiltro==1">Mayoreo</th>
                        <th scope="col" *ngIf="fabricafiltro==1">Credito</th>
                        <th scope="col" *ngIf="fabricafiltro==1">No Credito</th>
                        <th scope="col" *ngIf="fabricafiltro==1">Puebla</th>
                        <th scope="col" *ngIf="fabricafiltro==2">Precio</th>
                        <th scope="col" *ngIf="fabricafiltro==3">Precio</th>
                        <th scope="col">Manufactura</th>
                        <th scope="col">Tipo Material</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productos">
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.id}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.nombre}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.medidas}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.tipo}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                            {{item.precio_public}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                            {{item.precio_mayoreo}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                            {{item.precio_credito}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                            {{item.precio_creditoNo}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                            {{item.precio_puebla}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==2">
                            {{item.precio_tecamachalco}}</td>
                        <td
                            *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==3">
                            {{item.precio_tepeaca}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.fabrica.descripcion}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            {{item.pintura.descripcion}}</td>
                        <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                            <i class="fa fa-pencil fa-1x mb-3 " aria-hidden="true" data-bs-toggle="modal"
                            data-bs-target="#modelEditarProducto"  (click)="selectEdit(
                                item.id,
                                item.nombre,
                                item.medidas,
                                item.tipo,
                                item.precio_public,
                                item.precio_mayoreo,
                                item.precio_credito,
                                item.precio_creditoNo,
                                item.precio_puebla,
                                item.precio_tecamachalco,
                                item.precio_tepeaca,
                                item.pintura.descripcion,
                                item.fabrica.descripcion
                            )"></i>
                            <i class="fa fa-trash fa-1x" aria-hidden="true" data-bs-toggle="modal"
                                data-bs-target="#modalEliminar" (click)="selectId(item.id)"></i>
                            <i class="fa fa-address-book fa-1x" aria-hidden="true" data-bs-toggle="modal"
                                data-bs-target="#modalAgregarInventario" (click)="selectId(item.id)"></i>
                        </td>
                </tbody>
            </table>
        </div>
    </section>
</div>

<!--Modal de Eliminar-->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Confirma para su eliminacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="borrarProducto()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal de Agregar Al inventario-->
<div class="modal fade" id="modalAgregarInventario" tabindex="-1" aria-labelledby="modalAgregarInventarioLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarInventarioLabel">Agregar Producto al Inventario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <form class="row g-3" #formAgregarInventario="ngForm">
                    <div class="col-12">
                        <label for="existencias" class="form-label">Existencias</label>
                        <input type="text" class="form-control" id="existencias"
                            [(ngModel)]="inventarioSave.existencias" name="existencias">
                    </div>
                    <div class="col-md-6 mb-6" *ngFor="let color of colores">
                        <label for="fabricaAgregar" class="form-label">Color</label>
                        <select id="fabricaAgregar" class="form-select" [(ngModel)]="inventarioSave.color" name="color">
                            <option selected>Seleccion Color</option>
                            <option>{{color.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">

                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="agregarInventario(formAgregarInventario)">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal de Agregar-->
<div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="modalAgregarProductoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarProductoLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <form class="row g-3" #formAgregarProdcuto="ngForm">
                    <div class="col-12">
                        <label for="nombreAgregar" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreAgregar" [(ngModel)]="productoSave.nombre"
                            name="nombre">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label">Medidas</label>
                        <input type="text" class="form-control" id="medidasAgregar" [(ngModel)]="productoSave.medidas"
                            name="medidas">
                    </div>
                    <div class="col-12">
                        <label for="TipoAgregar" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="TipoAgregar" [(ngModel)]="productoSave.tipo"
                            name="tipo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="precioAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="precioAgregar"
                            [(ngModel)]="productoSave.precio_public" name="precio_public">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="mayoreoAgregar" class="form-label">Mayoreo</label>
                        <input type="text" class="form-control" id="mayoreoAgregar"
                            [(ngModel)]="productoSave.precio_mayoreo" name="precio_mayoreo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="creditoAgregar" class="form-label">Credito</label>
                        <input type="text" class="form-control" id="creditoAgregar"
                            [(ngModel)]="productoSave.precio_credito" name="precio_credito">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="noCreditoAgregar" class="form-label">No Credito</label>
                        <input type="text" class="form-control" id="noCreditoAgregar"
                            [(ngModel)]="productoSave.precio_creditoNo" name="precio_creditoNo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="pueblaVirgenAgregar" class="form-label">Puebla</label>
                        <input type="text" class="form-control" id="pueblaVirgenAgregar"
                            [(ngModel)]="productoSave.precio_puebla" name="precio_puebla">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==2">
                        <label for="pueblaAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="pueblaAgregar"
                            [(ngModel)]="productoSave.precio_tecamachalco" name="precio_tecamachalco">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==3">
                        <label for="santaAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="santaAgregar"
                            [(ngModel)]="productoSave.precio_tepeaca" name="precio_tepeaca">
                    </div>
                    <div class="col-md-6 mb-6" *ngFor="let pintura of pinturas">
                        <label for="pinturaAgregar" class="form-label">Selecciona Material</label>
                        <select id="pinturaAgregar" class="form-select" [(ngModel)]="productoSave.pintura"
                            name="pintura">
                            <option selected>Seleccion un Material</option>
                            <option>{{pintura.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-6" *ngFor="let fabrica of fabricas">
                        <label for="fabricaAgregar" class="form-label">Lugar de Manufactura</label>
                        <select id="fabricaAgregar" class="form-select" [(ngModel)]="productoSave.fabrica"
                            name="fabrica">
                            <option selected>Seleccion Fabrica</option>
                            <option>{{fabrica.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">

                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="guardarProducto(formAgregarProdcuto)">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal de Agregar-->
<div class="modal fade" id="modelEditarProducto" tabindex="-1" aria-labelledby="modelEditarProductoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelEditarProductoLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <form class="row g-3" #formaActualizar="ngForm" id="formActualizar">
                    <div class="col-12">
                        <label for="nombreEditar" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreEditar" [(ngModel)]="productoSave.nombre"
                        name="nombre">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label">Medidas</label>
                        <input type="text" class="form-control" id="medidasEditar" [(ngModel)]="productoSave.medidas"
                        name="medidas">
                    </div>
                    <div class="col-12">
                        <label for="TipoAgregar" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="tipoEditar" [(ngModel)]="productoSave.tipo"
                        name="tipo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="precioAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="precio_publicEditar" [(ngModel)]="productoSave.precio_public"
                        name="precio_public">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="mayoreoAgregar" class="form-label">Mayoreo</label>
                        <input type="text" class="form-control" id="precio_mayoreoEditar" [(ngModel)]="productoSave.precio_mayoreo"
                        name="precio_mayoreo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="creditoAgregar" class="form-label">Credito</label>
                        <input type="text" class="form-control" id="precio_creditoEditar" [(ngModel)]="productoSave.precio_credito"
                        name="precio_credito">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="noCreditoAgregar" class="form-label">No Credito</label >
                        <input type="text" class="form-control" id="precio_noCreditoEditar" [(ngModel)]="productoSave.precio_creditoNo"
                        name="precio_creditoNo">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==1">
                        <label for="pueblaVirgenAgregar" class="form-label">Puebla</label>
                        <input type="text" class="form-control" id="precio_pueblaVirgenEditar" [(ngModel)]="productoSave.precio_puebla"
                        name="precio_puebla">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==2">
                        <label for="pueblaAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="pueblaEditar" [(ngModel)]="productoSave.precio_tecamachalco"
                        name="precio_tecamachalco">
                    </div>
                    <div class="col-md-6" *ngIf="fabricafiltro==3">
                        <label for="santaAgregar" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="santaEditar" [(ngModel)]="productoSave.precio_tepeaca"
                        name="precio_tepeaca">
                    </div>
                    <div class="col-md-6 mb-6" *ngFor="let pintura of pinturas">
                        <label for="pinturaEditar" class="form-label">Selecciona Material</label>
                        <select id="pinturaEditar" class="form-select" [(ngModel)]="productoSave.pintura"
                        name="pintura">
                            <option selected>Seleccion un Material</option>
                            <option>{{pintura.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-6" *ngFor="let fabrica of fabricas">
                        <label for="fabricaEditar" class="form-label">Lugar de Manufactura</label>
                        <select id="fabricaEditar" class="form-select" [(ngModel)]="productoSave.fabrica"
                        name="fabrica">
                            <option selected>Seleccion Fabrica</option>
                            <option>{{fabrica.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">

                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="actualizarProducto(formaActualizar)">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>