<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="container-flex">
    <section class="vh-100 gradient-custom">
        <div class="container-fluid ">
            <div class="row g-5 ">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Todos</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Virgen</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Puebla</label>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="nivel==1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Santa</label>
                    </div>
                </div>
                <div class="col-5">
                    <form class="d-flex">
                        <input class="form-control me-2 gradient-buscar" id="buscar" name="buscar" [(ngModel)]="buscar">
                        <button class="button-78" role="button" (click)="buscarInventario(buscar)">Buscar</button>
                    </form>
                </div>
               
            </div>
        </div>

        <div class="container-rigth ">
            <div class="alert alert-success d-flex align-items-center col-6" role="alert" id="success"
                *ngIf="estatus=='exito'">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div>
                    {{mensaje}}
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="estatus=='error'">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div>
                    {{mensaje}}
                </div>
            </div>
        </div>
        <hr>
        <div class="container-auto ">
            <div class="table-responsive-lg">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Medidas</th>
                            <th scope="col">Tipos</th>
                            <th scope="col" *ngIf="fabricafiltro==1">Precio</th>
                            <th scope="col" *ngIf="fabricafiltro==1">Mayoreo</th>
                            <th scope="col" *ngIf="fabricafiltro==1">Credito</th>
                            <th scope="col" *ngIf="fabricafiltro==1">No Credito</th>
                            <th scope="col" *ngIf="fabricafiltro==1">Puebla</th>
                            <th scope="col" *ngIf="fabricafiltro==2">Precio</th>
                            <th scope="col" *ngIf="fabricafiltro==3">Precio</th>
                            <th scope="col">Existencias</th>
                            <th scope="col">Color</th>
                            <th scope="col">Manufactura</th>
                            <th scope="col">Tipo Material</th>
                            <th scope="col">Acciones</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of inventarios">
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.id}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.producto.nombre}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.producto.medidas}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.producto.tipo}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                                {{item.producto.precio_public}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                                {{item.producto.precio_mayoreo}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                                {{item.producto.precio_credito}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                                {{item.producto.precio_creditoNo}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==1">
                                {{item.producto.precio_puebla}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==2">
                                {{item.producto.precio_tecamachalco}}</td>
                            <td
                                *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion && fabricafiltro==3">
                                {{item.producto.precio_tepeaca}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.existencias}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.color.descripcion}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.fabrica.descripcion}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                {{item.producto.pintura.descripcion}}</td>
                            <td *ngIf="item.activo==true && item.fabrica.descripcion==usuario.fabrica.descripcion">
                                <i class="fa fa-pencil fa-1x mb-3 " aria-hidden="true" data-bs-toggle="modal"
                                    data-bs-target="#modelEditarInventario" (click)="selectEdit(
                                item.id,
                                item.producto.nombre,
                                item.producto.medidas,
                                item.producto.tipo,
                                item.existencias,
                                item.color.descripcion,
                                item.fabrica.descripcion,
                                item.producto.pintura.descripcion,
                                item.producto.id
                            )"></i>

                                <i class="fa fa-trash fa-1x mb-3" aria-hidden="true" data-bs-toggle="modal"
                                    data-bs-target="#modalEliminar" (click)="selectId(item.id)"></i>
                            </td>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!--Modal de Eliminar-->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Confirma para su eliminacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="borrarInventario()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal de Ediatr-->
<div class="modal fade" id="modelEditarInventario" tabindex="-1" aria-labelledby="modelEditarInventarioLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelEditarInventarioLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <form class="row g-3" #formaActualizar="ngForm" id="formActualizar">
                    <div class="col-12">
                        <label for="nombreEditar" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreEditar"
                            [(ngModel)]="inventarioSave.producto.nombre" name="nombre" disabled>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label">Medidas</label>
                        <input type="text" class="form-control" id="medidasEditar"
                            [(ngModel)]="inventarioSave.producto.medidas" name="medidas" disabled>
                    </div>
                    <div class="col-12">
                        <label for="TipoAgregar" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="tipoEditar"
                            [(ngModel)]="inventarioSave.producto.tipo" name="tipo" disabled>
                    </div>
                    <div class="col-md-6 mb-6" >
                        <label for="pinturaEditar" class="form-label">Selecciona Material</label>
                        <select id="pinturaEditar" class="form-select" [(ngModel)]="inventarioSave.producto.pintura"
                            name="pintura" disabled>
                            <option selected>Seleccion un Material</option>
                            <option *ngFor="let pintura of pinturas">{{pintura.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-6" >
                        <label for="fabricaEditar" class="form-label">Lugar de Manufactura</label>
                        <select id="fabricaEditar" class="form-select" [(ngModel)]="inventarioSave.fabrica"
                            name="fabrica" disabled>
                            <option selected>Seleccion Fabrica</option>
                            <option *ngFor="let fabrica of fabricas"> {{fabrica.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="existenciasEditar" class="form-label">Existencias</label>
                        <input type="text" class="form-control" id="existenciasEditar"
                            [(ngModel)]="inventarioSave.existencias" name="tipo">
                    </div>
                    <div class="col-md-12 mb-6" >
                        <label for="colorEditar" class="form-label">Selecciona Color</label>
                        <select id="colorEditar" class="form-select" [(ngModel)]="inventarioSave.color" name="color">
                            <option selected>Seleccion un Color</option>
                            <option *ngFor="let color of colores">{{color.descripcion}}</option>
                        </select>
                    </div>

                    <div class="col-6 mb-3">

                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-3 mb-3">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="actrualizarInventario(formaActualizar)">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


